.img{
  padding: 75px;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
  font-weight: 300;
}
.header{
  font-family: var(--title-font);
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
}
.presentation-container{
  margin-top: 12;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.presentation{
  width: 30%;
  margin-left: 20px;
  font-weight: 300;
}
