.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header{
  animation: shake 2s ease-in-out infinite alternate;
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-size: 2rem;
  margin-top: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.presentation-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
}
.presentation{
  margin-left: 20px;
  font-size: 1.5rem;
}
.img{
  padding: 75px;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}
@media (max-width:700px) {
  .presentation-container{
    margin-top: 1rem;
    flex-direction: column;
  }
  .presentation{
    text-align: center;
  }
  .img{
    display: none;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}