.navbar{
  background-color: var(--secondary-bg-color);
  font-weight: 300;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);;
}
.navbar-container{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 800px;
}
.navbar-right{
  display: flex;
}
.navbar-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background: transparent;
  border: none;
}
.left-btn{
  font-size: 1.2rem;
  color: var(--primary-color);
  width: fit-content;
  height: fit-content;
  margin-right: 16px;
  padding: 5px 8px;
  outline: none;
  border-radius: 0.375rem;
}
.navbar-left ul{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.inactive{
  display: none;
}
.navbar-btn:hover{
  background-color: var(--primary-bg-color);
}
@media (max-width: 750px) {
  .inactive{
    display: block;
  }
}
