.navbar{
  background-color: var(--secondary-bg-color);
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 64px;
  align-items: center;
  padding: 24px 0px;
}
.navbar-right{
  display: flex;
}

.navbar-left ul{
  width: 200px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  
}
.navbar-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  margin-left: 4px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background: transparent;
}
.left-btn{
  color: var(--primary-color);
  width: 48px;
  height: 32px;
}
.inactive{
  display: none;
}
@media (max-width: 750px) {
  .inactive{
    display: block;
  }
}
