.tiny-card {
	font-size: 14px;
	padding: 4px 8px;
	margin: 4px 4px 4px 0px;
	border-radius: 10%;
	color: var(--primary-color);
}
.React {
	background-color: rgba(37, 150, 190, 0.6);
	border: rgb(37, 150, 190) solid 1px;
}
.TailwindCSS {
	background-color: rgb(54, 183, 240, 0.6);
	border: rgb(54, 183, 240) solid 1px;
}
.CSS {
	background-color: rgba(41, 98, 255, 0.6);
	border: rgb(41, 98, 255) solid 1px;
}
.React-Router {
	background-color: rgba(255, 71, 26, 0.6);
	border: rgb(255, 71, 26) solid 1px;
}
.Html {
	background-color: rgba(37, 150, 190, 0.6);
	border: rgb(37, 150, 190) solid 1px;
}
.Javascript {
	background-color: rgba(240, 219, 79, 0.6);
	border: rgb(240, 219, 79) solid 1px;
}
.Redux {
	background-color: rgba(113, 44, 249, 0.6);
	border: rgb(113, 44, 249) solid 1px;
}
.Express {
	background-color: rgba(60, 135, 58, 0.6);
	border: rgba(60, 135, 58, 1) solid 1px;
}
